/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
    background: #eaeaee;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    max-width: 600px;
    margin: 0px;
    padding: 32px;
}

h1, h2 {
    font-family: 'Bangers', cursive;
}

.h2 {
    text-decoration: underline;
}

.centered {
    text-align: centre;
}

.title {
    font-size: 48px;
}

.content {
    background-color: white;
    padding-top: 10px;
    padding-right: 48px;
    padding-bottom: 20px;
}

.content, ul {
    margin-top: 20px;
    padding-left: 15px;
}

.element {
    list-style-type: square;
}

.first {
    color: black;
}

.second {
    font-weight: bold;
}